$fontIcon: "icomoon";
:root {
    --instrumentSans: "Instrument Sans", sans-serif;
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;

    --Black: #000000;
    --White: #ffffff;
    --Mono-gray-1: #f8f8f8;
    --Mono-gray-2: #dddddd;
    --Mono-gray-3: #bbbbbb;
    --Mono-gray-4: #999999;
    --Mono-gray-5: #808080;
    --Mono-gray-6: #666666;
    --Mono-gray-7: #494949;
    --Mono-gray-8: #333333;
    --Mono-gray-9: #151515;
}
