@use "./abstracts/index" as *;

.page-title {
    &.style-default {
        .page-inner {
            background-color: var(--Mono-gray-1);
            border-radius: 16px;
            text-align: center;
            padding: 70px 15px 73px;
        }
        &.v2 {
            .page-inner {
                background-color: var(--White);
                padding: 70px 15px 90px;
            }
        }
    }
    &.style-sigle-post {
        padding-top: 91px;
        .breadcrumb {
            gap: 14px;
        }
        .category-item {
            margin-bottom: 61px;
            .category-tag {
                height: 37px;
            }
        }
        .category-bot {
            padding-top: 8px;
            margin-top: 30px;
            .comment {
                i {
                    font-size: 24px;
                }
            }
        }
        .img-thumb {
            border-radius: 16px;
            overflow: hidden;
        }
        &.v2 {
            padding-top: 42px;
            .category-item {
                padding: 50px 12px;
                margin-bottom: 40px;
                border-radius: 12px;
                border: 1px solid var(--Mono-gray-2);

                .category-tag {
                    padding: 0 15px;
                }
            }

            .category-bot {
                padding-top: 10px;
                margin-top: 32px;
            }
            .img-thumb {
                border-radius: 12px;
                height: 100%;
                img {
                    min-height: 350px;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &.style-1 {
        padding-top: 27px;
        .pagination-wrap {
            position: absolute;
            bottom: 38px;
            left: 77px;
        }
        .swiper {
            height: 100%;
        }
        .box-author {
            padding: 48px 15px 62px;
        }
        .box-social {
            padding: 55px 15px 70px;
        }
        .img-thumbs {
            border-radius: 16px;
            overflow: hidden;
        }
    }
    --spacing-line: 24px;
    .wrap-pagi {
        padding-bottom: var(--spacing-line);
        border-bottom: 1px solid var(--Mono-gray-2);
    }
    .thumbs-sw-pagi {
        max-width: 748px;
        overflow: unset;
        .img-thumb-pagi {
            width: 140px;
            height: 140px;
            padding: 10px;
            border-radius: 9999px;
            border: 1px solid var(--Mono-gray-2);
            @include transition3();
            position: relative;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 3px;
                border-radius: 9999px;
                background-color: var(--Black);
                bottom: calc((var(--spacing-line) + 3px) * -1);
                left: auto;
                right: 0;
                @include transition3();
            }
            img {
                border-radius: 9999px;
            }
        }
        .swiper-slide-thumb-active {
            .img-thumb-pagi {
                border-color: var(--Black);
                position: relative;

                &::after {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    li {
        &:not(:last-child) {
            position: relative;
            &::after {
                content: "/";
                position: absolute;
                right: -10px;
            }
        }
    }
}

.section-related-post {
    .heading {
        padding: 19px 40px 20px;
        border: 1px solid var(--Mono-gray-2);
        border-radius: 16px;
    }
    .category-item {
        &.style-default {
            .img-style {
                margin-top: 25px;
            }
        }
        .category-bot {
            padding-top: 24px;
            margin-top: 54px;
        }
        .category-tag {
            height: 37px;
        }
    }
    .wrap-sw-button {
        align-items: center;
        max-width: 174px;
        text-align: center;
        gap: 32px;

        .sw-fraction-layout-1 {
            width: 42px;
        }
    }
    .sw-button {
        height: 36px !important;
        width: 36px !important;
    }
}

.section-newsletter {
    .image-rotate {
        border-radius: 16px;
    }
    .box-item {
        position: relative;
        border: 1px solid var(--Mono-gray-2);
        padding: 22.4px 24.4px;
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .icon {
            height: 35.2px;
            width: 35.2px;
            border-radius: 999px;
            background-color: var(--Black);
            font-size: 19.25px;
            color: var(--White);
            @include flex-center();
            margin-bottom: 24px;
        }
        .tf-btn {
            height: 41.6px;
            padding: 0 25.6px;
        }
        &.v2 {
            padding: 22.4px 30.4px 29.4px;
        }
    }
    .shape {
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
    .shape-2 {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    &.style-1 {
        .wrap-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 43px 50px 48px;
            border: 1px solid var(--Mono-gray-2);
            border-radius: 16px;
        }
        .image-rotate {
            height: 255.75px;
        }
    }
    &.style-2 {
        .tf-grid-layout {
            gap: 24px 20px;
        }
        .image-rotate {
            height: 315px;
            border-radius: 12px;
        }
        .box-item {
            padding: 22.4px 23.4px 24.4px;
            border-radius: 12px;
            .icon {
                height: 45.47px;
                width: 45.47px;
                margin-bottom: 25px;
                font-size: 24.8px;
            }
            .title {
                margin-bottom: 31px;
                span {
                    font-style: italic;
                }
            }
            .tf-btn {
                height: 53.74px;
                width: 127.14px;
            }
            &.v2 {
                padding: 55px 64px 64px;
                justify-content: unset;
                .tf-btn-link {
                    font-size: 21.82px;
                    line-height: 30.55px;
                    i {
                        font-size: 13.89px;
                        width: 30.09px;
                        height: 30.09px;
                    }
                }
            }
        }
        .wrap-ins {
            margin-bottom: 90px;
        }
        .form-newsletter {
            padding-top: 5px;
            .wrap {
                margin-bottom: 44px;
            }
        }
        &.v2 {
            .tf-grid-layout {
                gap: 12px;
            }
            .image-rotate {
                height: unset;
                border-radius: 24px;
            }
            .box-item {
                border-radius: 24px;
            }
        }
    }
}

.section-about {
    &.style-1 {
        .heading-title {
            padding: 25px 40px 23px;
            border-radius: 16px;
            border: 1px solid var(--Mono-gray-2);
            margin-bottom: 12px;
        }
        .box-author {
            padding: 32px 15px 30px;
            margin-bottom: 12px;
            .avatar {
                max-width: 256px;
            }
        }
        .box-social {
            padding: 25px 15px 30px;
        }
        .about-edication {
            .list {
                padding: 32px 40px 35px;
                border: 1px solid var(--Mono-gray-2);
                border-radius: 16px;
            }
        }
        .education-item {
            &:not(:last-child) {
                border-bottom: 1px solid var(--Mono-gray-2);
            }
        }
        .about-number {
            display: flex;
            flex-direction: column;
            .img-style {
                border-radius: 16px;
                overflow: hidden;
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .about-awards {
            .list {
                padding: 32px 40px;
                border-radius: 16px;
                border: 1px solid var(--Mono-gray-2);
            }
            .awards-item {
                &:not(:last-child) {
                    border-bottom: 1px solid var(--Mono-gray-2);
                }
            }
        }
    }
    &.style-2 {
        .avatar {
            max-width: 343.8px;
            border-radius: 999px;
            flex-shrink: 0;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        .wrap-award {
            display: flex;
            justify-content: center;
        }
        .awards-item {
            flex-shrink: 0;
            .number {
                font-weight: 700;
                font-size: 76.16px;
                line-height: 84.85px;
            }
            &.center {
                margin: 0 -49px;
            }
        }
    }
}

.section-contact {
    .box-author {
        padding: 41px 15px 43px;
        .avatar {
            max-width: 256px;
            margin-bottom: 14px;
        }
        .name {
            margin-bottom: 7px;
        }
    }
    .box-social {
        padding: 31px 15px 21px;
    }
}

.section-feature {
    &.style-1 {
        .right {
            padding: 48px;
            border-radius: 16px;
            border: 1px solid var(--Mono-gray-2);
            .category-item {
                &:not(:last-child) {
                    padding-bottom: 32px;
                    margin-bottom: 32px;
                    border-bottom: 1px solid var(--Mono-gray-2);
                }
            }
        }
    }
}

.section-most-popular {
    &.style-1 {
        .heading-section {
            padding: 23px 47px 22px;
        }
        .category-item {
            height: 100%;
            .content {
                height: 100%;
                justify-content: space-between;
            }
        }
    }
    &.style-2 {
        .category-item {
            .category-bot {
                margin-top: 40px;
            }
        }
    }
}

.section-cta {
    .content {
        max-width: 721px;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .title {
        padding: 22px 0 22px;
        border-top: 1px solid var(--Mono-gray-2);
        border-bottom: 1px solid var(--Mono-gray-2);
        margin-bottom: 33px;
    }
    .list {
        display: flex;
        justify-content: center;
        gap: 7px;

        a {
            padding: 3px 16px;
            border-radius: 999px;
            border: 1px solid var(--Mono-gray-2);
            &:hover {
                border-color: var(--Black);
            }
        }
    }
    .shape {
        top: 71%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: -1;
    }
    .tf-btn {
        margin-bottom: 40px;
        padding: 0 40px;
    }
    &.style-1 {
        padding: 48px 70px 40px;
        border: 1px solid var(--Mono-gray-5);
        border-radius: 9999px;
        .title {
            margin-top: 46px;
            padding: 5px 0 3px;
            margin-bottom: 25px;
        }
        .description {
            margin-bottom: 36px;
        }
        .content {
            max-width: 902px;
        }
        .list {
            margin-bottom: 48px;
            display: flex;
            justify-content: center;
            gap: 12px;
            a {
                border-color: var(--Mono-gray-5);
                &:hover {
                    border-color: var(--Black);
                }
            }
        }
    }
    .bg-color-1 {
        background-color: #f6fe6c;
    }
    .bg-color-2 {
        background-color: #7db1ff;
    }
    .bg-color-3 {
        background-color: #ff9aac;
    }
    .bg-color-4 {
        background-color: #8dffa6;
    }
}

.section-latest-blogs {
    &.style-1 {
        .category-item {
            .category-tag {
                height: 37px;
                padding: 0 14px;
            }
            .img-style {
                margin-top: 22px;
            }
            .category-bot {
                padding-top: 23px;
                margin-top: 54px;
            }
        }
        .shopify-banner {
            .banner {
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.section-post {
    .swiper {
        &:hover {
            .sw-button {
                opacity: 1;
                transform: translate(0, -50%);
            }
        }
        .category-item {
            overflow: hidden;
        }
    }
    .sw-button {
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY();
        z-index: 1;
        @include transition3();
        &.nav-prev-layout {
            left: 7.9%;
            transform: translate(30px, -50%);
        }
        &.nav-next-layout {
            right: 8%;
            transform: translate(-30px, -50%);
        }
    }
}
